# EcoSpark Backend Environment Template
PORT=3001
CORS_ORIGIN=*
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/ecospark?retryWrites=true&w=majority
WHATSAPP_API_KEY=your_apikey_here
